/* @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {
    height: 400px;
    width: 100%;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .main-picture {
    background-size: 100%;
  }
  .question{
    width: 100%;
  }
} */

@media screen and (max-device-width: 768px) {
  .container {
    width: 100%;
  }
  .header {
    height: 400px;
    width: 100%;
  }
  .header h1 {
    font-size: 60px;
  }
  .header h3{
    font-size: 31px;
  }
  .submit-bg {
    height: 74px;
    width: 74px;
    background-position: 30px;
  }
  .submit-caption {
    font-size: 25px;
    height: 73px;
  }


  .main-picture {
    background-position: 50% 90%;
  }
  .question{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: #F7F5FA;
  }
  .question-item {
    width: 650px;
    height: 400px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
  }
  .question-item h4{
    font-size: 32px;
    padding: 0px 15px;
    margin: auto;
    margin-bottom: 20px
  }
  .question-item p {
    font-size: 42px;
    width: 100%;
    padding: 24px;
    height: auto;
    text-align: center;
    width: 90%;
  }


  .wrap-main-content {
    display: flex;
    width: 100%;
    /* margin: 225px auto 0; */
    padding-bottom: 30px;
  }

  .wrap-main-picture {
    height: 1270px;
  }
  .main-picture {
    background-position: 50% 90%;
    height: 800px;
  }

  .main-content {
    width: 55%;
    height: auto;
    padding: 0 0 80px;
  }
  .main-content h1 {
    font-size: 55px;
    width: 80%;
  }
  .main-content p {
    font-size: 28px;
    line-height: 50px;
  }


  .advantages-header{
    font-size: 60px;
  }
  .advantages{
    width: 80%;
  }
  .advantages-item{
    width: 30%;
  }
  .advantages-item h3{
    font-size: 40px;
  }
  .advantages-item span {
    padding-top: 10px;
  }
  .advantages-item p {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-device-width: 480px) {
  .wrap-main-picture {
    height: 1580px;
  }
  .main-picture {
    background-position: 0% 0%;
    height: 650px;
  }
  .main-content {
    width: 70%;
    height: auto;
    padding: 0px 0 40px;
  }
  .main-content p {
    font-size: 20px;
    line-height: 40px;
  }
  .advantages {
    width: 92%;
    height: 560px;
  }
  .advantages-item {
    width: 33%;
    height: 520px;
    margin: 0 20px;
  }
  .advantages-item h3 {
    font-size: 35px;
  }
}

@media screen and (max-device-width: 320px) {
  .header h3 {
    font-size: 26px;
  }
  .wrap-main-picture {
    height: 2550px;
  }
  .main-picture {
    background-position: 0% 0%;
    height: 500px;
  }
  .question-item {
    width: 900px;
    height: 450px;
    justify-content: center;    
  }
  .question-item h4 {
    font-size: 50px;
    padding: 0px;
    margin: 15px auto;
  }
  .question-item p {
    margin: 50px auto 0px;
  }
  .advantages {
    width: 95%;
    height: 670px;
  }
  .advantages-item {
    width: 33%;
    height: 625px;
  }
  .advantages-item h3 {
    font-size: 28px;
  }
  .main-content {
    width: 80%;
  }
  .main-content p {
    font-size: 12px;
    line-height: 20px;
  }
}